/* full Site */
html {
  font-size: 14px;
  font-family: open Sans;
}

h3 {
  font-size: 1.3rem;
  font-weight: bold;
}

.image-container {
  overflow: hidden;
}

img {
  width: 100%;
  opacity: .7;
}

.color-text {
  color: #399bd1;
}

.btn-lg {
  margin-top: 2.8rem;
  padding: 1.5rem 3rem;
}
/* Navigation Bar */
.navbar-right {
  margin-right: 1rem;
}

@media only screen and (max-width: 767px) {
  ul .nav .navbar-nav .navbar-right {
    display: none;
  }
}

/* jumbotron Display */
.jumbotron {
  height: 44rem;
  padding-top: 10rem;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.jumbotron-bike {
  background-image: url("../images/jumbotron-bike.jpg");
}

span.jumbotron-header {
  font-family: Monoton;
  font-size: 7.1rem;
  color: white;
  text-shadow: -1px -1px #000, 1px -1px #000, -1px 1px #000, 1px 1px #000;
}

.jumbotron p {
  max-width: 51.3rem;
  color: white;
  margin: auto;
}

.jumbotron-image-navbar {
  border: solid;
  margin-top: -2.2rem;
  padding-top: .8rem;
  height: 3rem;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-image: url("../images/jumbotron-bike.jpg");
}

.nav-img-text {
  font-family: Monoton;
  color: white;
  letter-spacing: 1rem;
  text-rendering: optimizeLegibility;
}

/* Featured Project */
.featured-project {
  margin-top: 3rem;
}

.featured-project .image-container {
  height: 19rem;
}

.margin {
  margin-top: -20px;
}

/*Projects Section */
.project-section {
  margin-bottom: 5.85rem;
}

/* Footer Section */
.having-trouble {
  padding: 5.2rem 0;
  background-color: #f3f3f3;
  text-align: center;
}

strong {
  font-size: 2.5rem;
}

.having-trouble-width {
  margin: 1.4rem;
  max-width: 42rem;
  margin: auto;
}



/* font-family: 'Monoton', cursive;
font-family: 'Open Sans', sans-serif; */
