/* full Site */
html {
  font-size: 14px;
  font-family: open Sans;
}

body, html {
    background-color: black;
    width: 100%;
    margin: 0;
}

h3 {
  font-size: 1.3rem;
  font-weight: bold;
}

.image-container {
  overflow: hidden;
}

img {
  width: 100%;
  opacity: .7;
  transition: transform 1s;
}

.color-text {
  color: #399bd1;
}

.btn-lg {
  margin-top: 2.8rem;
  padding: 1.5rem 3rem;
}

.image-container img:hover {
  opacity: 1;
  transform: scale(1.3);
}

/* slick override */

.slick-slide {
  outline: none;
}

/* navbar nevigation */

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover {
  background-color: inherit;
  color: #399bd1;
}

/* Navigation Bar */
.navbar-right {
  margin-right: 1rem;
}

.navbar {
  font-size: 1.1rem;
  font-weight: 600;
}

/* jumbotron Display */
.carousel {

}



.jumbotron {
  border: solid;
  height: 44rem;
  padding-top: 10rem;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.jumbotron-bike {
  background-image: url("../images/jumbotron-bike.jpg");
}

.jumbotron-beer {
  background-image: url("../images/jumbotron-beer.jpg");
}

.jumbotron-flower {
  background-image: url("../images/jumbotron-flowers.jpg");
}

.jumbotron-duffel {
  background-image: url("../images/jumbotron-duffel.jpg");
}

span.jumbotron-header {
  font-family: Monoton;
  font-size: 7.1rem;
  color: white;
  text-shadow: -1px -1px #000, 1px -1px #000, -1px 1px #000, 1px 1px #000;
}

.jumbotron p {
  max-width: 51.3rem;
  color: white;
  margin: auto;
}


/* Button for Jumbotron */
.relative-wrapper {
  position: relative;
  top: -20rem;
  width: 100%;
  text-align: center;
}

.jumbotron-image-navbar {
  display: flex;
  text-align: center;
  border: solid;
  border-color: gray;
  bottom: 5.8rem;
  padding-top: 0rem;
  height: 3.4rem;
  text-align: center;
  background-size: cover;
  background-position: center;
}

.image-bike {
  background-image: url("../images/jumbotron-bike.jpg");
}

.image-beer {
  background-image: url("../images/jumbotron-beer.jpg");
}

.image-flower {
  background-image: url("../images/jumbotron-flowers.jpg");
}

.image-duffel {
  background-image: url("../images/jumbotron-duffel.jpg");
}

/*
.slick-dots { position: absolute; bottom: -45px; list-style: none; display: block; text-align: center; padding: 0; width: 100%; }
.slick-dots li { position: relative; display: inline-block; height: 20px; width: 20px; margin: 0 5px; padding: 0; cursor: pointer; }
.slick-dots li button { border: 0; background: transparent; display: block; height: 20px; width: 20px; outline: none; line-height: 0; font-size: 0; color: transparent; padding: 5px; cursor: pointer; }
.slick-dots li button:hover, .slick-dots li button:focus { outline: none; }
.slick-dots li button:hover:before, .slick-dots li button:focus:before { opacity: 1; }
.slick-dots li button:before { position: absolute; top: 0; left: 0; content: "0000000"; width: 20px; height: 20px; font-family: "slick"; font-size: 6px; line-height: 5px; text-align: center; color: orange; opacity: 0.25; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.slick-dots li.slick-active button:before { color: black; opacity: 0.75; } */


.slick-dots { z-index: 99; position: relative; bottom: 2.2rem; list-style: none; display: flex; text-align: center; margin-top: 0rem; width: 100%;}
.slick-dots li { position: relative; display: inline-block; height: 0rem; width: 25%; margin-top: 0; padding: 1.6rem; cursor: pointer;}
.slick-dots li button { border: 0; background: transparent; display: block ; height: 3rem; width: 112.5%; outline: none; line-height: 0; font-size: 0; color: transparent; margin-left: -1.5rem; cursor: pointer; margin-top: -1.5rem;}
.slick-dots li button:hover, .slick-dots li button:focus { outline: none; }
.slick-dots li button:hover:before, .slick-dots li button:focus:before { opacity: 0; }
.slick-dots li button:before { border:0; opacity: 1; background-color: black; content: " "; margin-top: 0rem; padding: 0rem; position: absolute; top: 0; left: 0; width: 100%; height: 100%; font-family: "slick"; font-size: 6px; line-height: 5px; text-align: center; color: black; opacity: 0.35; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.slick-dots li.slick-active button:before { opacity: 0; }

/*
.content {
  font-size: 18px;
  padding: 20px;
  text-align:center;
  color: white;
}
*/
.image-navbar {
  margin-top: -8rem;
}


.nav-img-text {
  font-family: Monoton;
  padding-bottom: 0rem;
  margin: auto;
  color: white;
  letter-spacing: .8rem;
  text-rendering: optimizeLegibility;
}

@media only screen and (max-width: 767px) {
  .jumbotron span.jumbotron-header {
    font-size: 5.7rem;
  }
}

/* Featured Project */
.featured-project {
  top: -10rem;
}

.featured-project .image-container {
  height: 19rem;
}

.margin {
  top: -20px;
}

/*Projects Section */
.project-section {
  margin-bottom: 5.85rem;
}

/* Footer Section */
.having-trouble {
  padding: 5.2rem 0;
  background-color: #f3f3f3;
  text-align: center;
}

strong {
  font-size: 2.5rem;
}

.having-trouble-width {
  margin: 1.4rem;
  max-width: 42rem;
  margin: auto;
}



/* font-family: 'Monoton', cursive;
font-family: 'Open Sans', sans-serif; */
